input > .learn-guess-input {
  border-radius: 5px;
}

img {
  width: 150px;
}

.hidden {
  visibility: hidden;
}

h2 {
  font-size: 1.5em;
}

@media screen and (min-width: 550px) {
  img {
    width: 200px;
  }
}

@media screen and (min-width: 700px) {
  img {
    width: 300px;
  }

  label {
    font-size: 1.2em;
  }
}

