body {
    background-color: #012D58;
    font-family: 'Josefin Sands', sans-serif;
}

.App {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h2, .subtitle-p {
    margin: 10px;
}

main {
    color: #C9C9C9;
}