.word-list {
  margin: 5px;
  padding: 5px;
}

.Card {
  padding: 5px;
  margin-top: 10px;
}

img {
  width: 150px;
}

.total-correct {
  font-size: 1em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
}

@media screen and (min-width: 550px) {
  img {
    width: 200px;
  }

}

@media screen and (min-width: 700px) {
  img {
    width: 300px;
  }

  p {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 2.0em;
  }
}

