/* header (h1(a-home), nav(a-login/logout/register) */
@font-face {
    font-family: C-S;
    src: url(../../Assets/fonts/CS.ttf);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
}

h1 a {
    font-family: C-S;
    color: #F53401;
    font-size: 1.2em;
}

h1 a:hover {
    color: #F87E3D;
}

nav a {
    color: #E09E2D;
    margin: auto 5px 0;
}

nav a:hover {
    color: #EECB00;
    font-weight: bold;
}

.user-name {
    color: #E09E2D;
    margin: auto 5px 0;
}
  
@media screen and (min-width: 700px) {
    h1 a {
        font-size: 1.3em;
    }

    nav a {
        font-size: 1.1em;
    }

    .user-name {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 1000px) {
    h1 a {
        font-size: 1.8em;
    }
    
    nav a {
        font-size: 1.4em;
    }

    .user-name {
        font-size: 1.4em;
    }
}